<?xml version="1.0"?>
<launch>

  <!-- april analytical pick object script -->
  <node pkg="april_pick_place_object" type="pick.py" name="pick_object_node" output="screen" >
    <rosparam file="$(find april_pick_place_object)/config/pick_params.yaml" command="load" />
    <rosparam file="$(find april_pick_place_object)/config/grasp_planning_core_params.yaml" command="load" />
    <!-- pregrasp planner parameters -->
    <rosparam file="$(find april_pick_place_object)/config/grasp_planner/simple_pregrasp_planner_params.yaml" command="load" />
  </node>

</launch>
