<?xml version="1.0"?>
<launch>

  <!-- pick demo using moveit -->

  <!-- fake object recognition -->
  <node pkg="fake_object_recognition" type="object_recognition_mockup.py" name="object_recognition" output="screen" >
    <param name="box_width" type="double" value="1.39" />
    <param name="box_length" type="double" value="0.85" />
    <param name="box_height" type="double" value="0.5" />
    
    <param name="x_box_position" type="double" value="0.06" />
    <param name="y_box_position" type="double" value="0.69" />
    <param name="z_box_position" type="double" value="1.2" />
  </node>

  <!-- moveit move group -->
  <arg name="use_pointcloud" default="true"/>
  <!-- arm default speed -->
  <arg name="default_velocity_scaling_factor" default="1.0"/> <!-- fast arm, use it like this only for simulation -->
  <arg name="default_acceleration_scaling_factor" default="1.0"/> <!-- fast arm, use it like this only for simulation -->
  <include file="$(find mia_hand_on_ur5_moveit_config)/launch/move_group.launch" >
    <arg name="use_pointcloud" value="$(arg use_pointcloud)"/>
    <!-- arm speed -->
    <arg name="default_velocity_scaling_factor" value="$(arg default_velocity_scaling_factor)"/>
    <arg name="default_acceleration_scaling_factor" value="$(arg default_acceleration_scaling_factor)"/>
  </include>

  <!-- visualise gripper in rviz as marker -->
  <node pkg="april_pick_place_object" type="rviz_gripper_visualiser.py" name="rviz_gripper_visualiser" output="screen" >
    <rosparam file="$(find april_pick_place_object)/config/visualisation/gripper_open_transformations.yaml" command="load" ns="gripper_transformations"/>
    <remap from="pose_array" to="/pick_object_node/grasp_poses"/>
  </node>

</launch>
